.wrapper {
  min-width: 0;
  max-width: 100%;
  min-height: 100%;
  aspect-ratio: 16 / 9;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerOne3Streams {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  aspect-ratio: 16 / 9;
}

.playerOne3Streams:first-child {
  grid-column: span 2;
}
