.sidebar {
  position: absolute;
  top: 5.4rem;
  height: calc(100vh - 5.4rem);
  width: 4.8rem;
  background-color: #1a1a1a;
  color: #fff;
  transition: all 0.3s;
  overflow: hidden;
  padding: 1rem 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar:hover {
  width: 25rem;
}

.li {
  display: flex;
}

.label {
  font-size: 1.6rem;
  color: #fff;
}

.game {
  font-size: 1.4;
  color: #efefef;
}

.views {
  font-size: 1.2rem;
  color: #efefef;
}
