.sidebar {
  position: absolute;
  top: 5.4rem;
  z-index: 999;
  height: calc(100vh - 5.4rem);
  width: 4.8rem;
  background-color: #1a1a1a;
  color: #fff;
  transition: all 0.3s;
  overflow: hidden;
  padding: 1rem 0.3rem;
}

.sidebar:hover {
  width: 25rem;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.li {
  display: flex;
}

.img {
  margin-right: 1rem;
}

.label {
  font-size: 1.6rem;
  color: #fff;
}

.circle {
  height: 1rem;
  width: 1rem;
  color: red;
  border-radius: 50%;
}

.views {
  font-size: 1.2rem;
  color: #efefef;
  margin-left: auto;
}

.game {
  font-size: 1.4;
  color: #efefef;
}
